body, h1 {
    font: normal 300 16px/25px Segoe UI, sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title {
    font-size: 42px;
    line-height: 54px;
    width: 695px;
    margin: 90px auto;
}
.row {
    max-width: 1140px;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    width: 500px;
    min-height: 250px;
    padding: 0 0 0 100px;
    background-repeat: no-repeat;
    background-size: 70px;
    box-sizing: border-box;
    margin: 0 130px 0 0;
}
.item_right {
    margin-right: 0;
}
.item_doc-new {
    background-image: url(./img/icon-02-doc-new.png);
}
.item_pageca {
    background-image: url(./img/icon-02-doc-pageca.png);
}
.item_resreestr {
    background-image: url(./img/icon-07-ko-rosreestr.png);
}
.item_gov {
    background-image: url(./img/icon-08-gov-eaglefsb.png);
}
.item_clock {
    background-image: url(./img/icon-01-bb-clock.png);
}
.item_vault {
    background-image: url(./img/icon-05-secure-vault.png);
}

.item__title {
    font-size: 22px;
    line-height: 30px;
}
.item__description {
    margin: 15px 0 0 0;
    width: 420px;
}

@media all and (max-width: 1260px){
    .row{
        justify-content: center;
    }

    .item{
        margin: 0 0 20px;
        width: calc(80% - 150px);
        font-size: 22px;
        line-height: 30px;
        padding: 0 0 0 150px;
        background-size: 100px;
    }

    .item__title {
        font-size: 30px;
        line-height: 35px;
    }
}
